.scroll-float {
    overflow: hidden;
    margin: 0;
    line-height: 1.2;
}

.scroll-float-text {
    display: inline-block;
}

.char {
    display: inline-block;
    will-change: opacity, transform;
}