.logo {
    transform-origin: center;
    transition: all 0.3s ease;
    filter: drop-shadow(0 4px 6px rgba(158, 85, 242, 0.2));
}

.hoverable:hover {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
        filter: drop-shadow(0 4px 6px rgba(158, 85, 242, 0.2));
    }

    50% {
        transform: scale(1.05);
        /* Gentle expansion */
        opacity: 0.9;
        filter: drop-shadow(0 8px 12px rgba(158, 85, 242, 0.35));
    }

    100% {
        transform: scale(1);
        opacity: 1;
        filter: drop-shadow(0 4px 6px rgba(158, 85, 242, 0.2));
    }
}

.spin {
    animation: spin 3s linear infinite !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}